@charset "UTF-8";
:root {
  --video-items-count: 5;
  --content-item-max-width: 500px;
  --content-item-margin: 16px;
  --content-item-width: calc(100%/var(--video-items-count) - var(--content-item-margin) - 0.01px) ;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
}
body .tooltip {
  display: none;
  animation: fadeIn 0.2s ease-in-out;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  background: #616161;
  font-size: 0.8rem;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  top: 50px;
}

* {
  box-sizing: border-box;
}

.parent:hover .tooltip {
  display: block;
}

nav {
  min-height: 56px;
  max-height: 56px;
  background: transparent;
}
nav .nav-left {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 0;
}
nav .nav-wrapper {
  display: flex;
  background: white;
  width: 100%;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 16px;
  z-index: 600;
  position: fixed;
}
nav .nav-wrapper .hidden-form {
  display: none !important;
}
nav .nav-wrapper #hidden-button {
  display: none;
}
nav .nav-wrapper .nav-middle {
  display: flex;
  align-items: center;
  height: 90%;
  flex-basis: 732px;
  justify-content: flex-end;
}
nav .nav-wrapper .nav-middle #hidden-button {
  display: none;
}
nav .nav-wrapper .nav-middle .hidden-arrow {
  display: none;
}
nav .nav-wrapper .extended-nav-middle {
  padding: 0 10px;
  gap: 5px;
  background-color: white;
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 100;
}
nav .nav-wrapper .extended-nav-middle .circle-button {
  background: none;
}
nav .nav-wrapper .extended-nav-middle .circle-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav .nav-wrapper .extended-nav-middle .hidden-arrow {
  display: flex !important;
  width: 50px;
  justify-content: center;
}
nav .nav-wrapper .extended-nav-middle .form-wrapper {
  display: flex !important;
  flex: 1;
}
nav .nav-wrapper .extended-nav-middle #hidden-button {
  display: none !important;
}
nav .nav-wrapper .nav-middle-hidden {
  background: white;
  display: flex;
  align-items: center;
  height: 90%;
  flex-basis: 732px;
  justify-content: flex-end !important;
}
nav .nav-wrapper .nav-middle-hidden .hidden-arrow {
  display: none;
}
nav .nav-wrapper .nav-middle-hidden .circle-button-wrapper {
  margin-left: 0px;
  margin-right: 5px;
  position: relative;
}
nav .nav-wrapper .nav-middle-hidden .circle-button-wrapper .circle-button {
  background: none;
}
nav .nav-wrapper .nav-middle-hidden .circle-button-wrapper .circle-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav .nav-wrapper .nav-middle-hidden .form-wrapper {
  display: none;
}
nav .nav-wrapper .nav-middle-hidden #hidden-button {
  display: flex;
}
nav .nav-wrapper .form-wrapper {
  height: 80%;
  width: 32vw;
  display: flex;
  align-items: center;
}
nav .nav-wrapper .form-wrapper form {
  height: 100%;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
nav .nav-wrapper .form-wrapper form .hidden-arrow {
  width: 50px;
  display: none;
}
nav .nav-wrapper .form-wrapper form .hidden {
  position: absolute;
  left: 10px;
  display: none;
  align-items: center;
  padding: 10px;
}
nav .nav-wrapper .form-wrapper form input {
  height: 100%;
  width: 90%;
  border-radius: 40px 0 0 40px;
  padding-left: 20px;
  border: 1px solid hsl(0, 0%, 18.82%);
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 30px;
  margin-right: 62px;
}
nav .nav-wrapper .form-wrapper form input::-webkit-search-cancel-button {
  display: none;
}
nav .nav-wrapper .form-wrapper form input:focus {
  outline-color: blue;
  margin-left: 0;
  padding-left: 50px;
}
nav .nav-wrapper .form-wrapper button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 62px;
  border-radius: 0 40px 40px 0;
  border: 1px solid hsl(0, 0%, 18.82%);
  font-size: 1.1rem;
  font-weight: 100;
  border-inline-start: none;
  cursor: pointer;
}
nav .nav-wrapper .form-wrapper button:hover .tooltip {
  display: block;
}
nav .nav-wrapper .circle-button-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
nav .nav-wrapper .circle-button-wrapper:hover .circle-button {
  opacity: 1;
}
nav .nav-wrapper .circle-button {
  height: 40px;
  width: 40px;
  padding: 2px 1px 0 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  font-size: 1.1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
nav .nav-wrapper .circle-button i::before {
  display: inline-block;
  height: 20px;
}
nav .nav-wrapper .nav-right {
  display: flex;
  align-items: center;
}
nav .nav-wrapper .nav-right .accessibility-buttons {
  display: flex;
  cursor: pointer;
}
nav .nav-wrapper .nav-right .accessibility-buttons .button-wrapper {
  position: relative;
  height: 80%;
  width: 40px;
  margin-right: 5px;
}
nav .nav-wrapper .nav-right .accessibility-buttons .button-wrapper:hover .icon-background {
  background: rgba(0, 0, 0, 0.1);
}
nav .nav-wrapper .nav-right .profile-picture-wrapper {
  width: 60px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-wrapper .nav-right .profile-picture-wrapper img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu-icon-wrapper {
  cursor: pointer;
  color: #a81a1a;
}
.menu-icon-wrapper:hover .icon-background {
  background: rgba(0, 0, 0, 0.1);
}

.icon-background {
  width: 39px;
  height: 39px;
  padding: 8px;
  border-radius: 24px;
}

.youtube-logo-and-country {
  display: flex;
  user-select: none;
  align-items: center;
  height: 100%;
  padding: 18px 14px 18px 16px;
  position: relative;
  cursor: pointer;
}
.youtube-logo-and-country .youtube-logo-wrapper {
  width: 90px;
  height: 20px;
}
.youtube-logo-and-country .country-code {
  font-family: "Arial";
  font-size: 0.6rem;
  display: flex;
  align-items: start;
  height: 50%;
  position: absolute;
  right: 0;
}

.not-hidden-standart-aside {
  animation: slideIn 2s ease-in-out forwards;
  left: 0;
}

.first-hide-aside {
  position: fixed;
  top: 0;
  left: -260px;
  transition: 0.2s ease-in-out all;
}

main {
  display: flex;
}
main .hidden-aside {
  min-width: 256px;
  max-width: 256px;
  background: white;
  z-index: 2000;
  position: fixed;
  top: 0;
}
main .hidden-aside .not-empty-space {
  display: flex;
}
main .aside-container {
  height: 93vh;
}
main .aside-container .not-empty-space {
  display: flex;
  align-items: center;
  padding-left: 16px;
  background: white;
}
main article {
  max-width: calc(var(--video-items-count) * (var(--content-item-max-width) + var(--content-item-margin)) - var(--content-item-margin));
  width: 100%;
}
main .mini-aside {
  display: flex;
  min-width: 72px;
  padding: 0 0 0 5px;
  max-width: 72px;
  z-index: 5;
  position: relative;
}
main .mini-aside .col-2, main .mini-aside .col-3, main .mini-aside .col-4, main .mini-aside .col-5, main .mini-aside .col-6, main .mini-aside .col-7, main .mini-aside hr {
  display: none;
}
main .mini-aside .aside-wrapper {
  max-width: 72px;
  min-width: 72px;
  height: 93vh;
  padding: 0;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
}
main .mini-aside .col-list {
  margin: 0;
  padding: 0 4px;
  width: 100%;
}
main .mini-aside .col-list .aside-icon-wrapper {
  position: static;
  height: 30px;
  margin: 0 auto;
}
main .mini-aside .col-list .col-item-wrapper {
  display: flex;
  width: 64px;
  flex-direction: column;
  padding: 16px 0 14px 0;
}
main .mini-aside .col-list .col-item {
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  padding: 0;
  white-space: nowrap;
}
main .col-item-wrapper {
  position: relative;
  display: flex;
  padding: 0 5px;
  border-radius: 10px;
  font-weight: 400;
}
main .col-item-wrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}
main .col-item-wrapper .aside-icon-wrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 8px;
  pointer-events: none;
}
main .col-item-wrapper .aside-logo-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 8px;
  pointer-events: none;
}
main .col-item-wrapper .aside-logo-wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
main .col-item-wrapper .col-item {
  padding-left: 30%;
  flex: 1;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  color: initial;
}
main .aside-wrapper {
  width: 256px;
  padding-inline-end: 10px;
  padding: 10px;
  height: 93vh;
  position: fixed;
  overflow: hidden;
  background-color: white;
  overflow-y: auto;
  /* Webkit (Chrome, Safari) scrollbar özelleştirmesi */
  /* Scrollbar */
  /* Scrollbar thumb */
  /* Scrollbar thumb on hover */
}
main .aside-wrapper hr {
  margin: 10px;
}
main .aside-wrapper .col-list {
  margin: 0;
  padding: 0;
}
main .aside-wrapper .col-title {
  padding: 0px 15px 12px 15px;
  font-size: 1rem;
  font-weight: 500;
}
main .aside-wrapper .you-col {
  font-size: 1rem;
}
main .aside-wrapper .you-col .col-item {
  padding-left: 12px !important;
}
main .aside-wrapper .you-col .aside-icon-wrapper {
  top: 12px !important;
  left: 40px !important;
  width: 16px !important;
  height: 16px !important;
}
main .aside-wrapper .link-wrapper {
  padding: 20px;
  font-size: 0.8rem;
}
main .aside-wrapper .link-wrapper a {
  text-decoration: none;
  color: #aaa;
  margin-right: 5px;
}
main .aside-wrapper .link-wrapper span {
  display: block;
  margin-top: 20px;
  color: #717171;
}
main .aside-wrapper::-webkit-scrollbar {
  width: 10px;
}
main .aside-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
  visibility: hidden;
}
main .aside-wrapper:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
main .standart-aside {
  min-width: 256px;
  max-width: 256px;
  z-index: 15;
  position: relative;
}
main .standart-aside .aside-wrapper {
  background-color: white;
}
main .standart-aside .not-empty-space {
  display: none;
}
main .link-bar-container {
  width: 100%;
  display: flex;
  background: white;
  max-width: calc(var(--video-items-count) * (var(--content-item-max-width) + var(--content-item-margin)) - var(--content-item-margin));
}
main .link-bar-container .slide-right-button,
main .link-bar-container .slide-left-button {
  position: fixed;
  background-color: white;
  color: black;
  top: 65px;
  z-index: 500;
  box-shadow: 0 0 20px 20px white;
  width: 70px;
  text-align: center;
  display: none;
  cursor: pointer;
}
main .link-bar-container .slide-right-button .slide-button-wrapper,
main .link-bar-container .slide-left-button .slide-button-wrapper {
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
main .link-bar-container .slide-right-button .slide-button-wrapper:hover,
main .link-bar-container .slide-left-button .slide-button-wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
}
main .link-bar-container .slide-right-button .slide-button-wrapper i,
main .link-bar-container .slide-left-button .slide-button-wrapper i {
  width: 20px;
  height: 20px;
}
main .link-bar-container .slide-right-button {
  right: 0px;
}
main .link-bar-container .slide-left-button {
  visibility: hidden;
  left: 5px;
}
main .contents-title-wrapper {
  width: 100%;
  display: flex;
  position: fixed;
  background: white;
  overflow: hidden;
  top: 56px;
  max-width: calc(var(--video-items-count) * (var(--content-item-max-width) + var(--content-item-margin)) - var(--content-item-margin));
  z-index: 100;
}
main .contents-title-wrapper .bar-link-list {
  font-size: 0.9rem;
  font-weight: 600;
  list-style: none;
  display: flex;
  padding: 0 24px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  margin: 20px 0;
  width: 100%;
}
main .contents-title-wrapper .bar-link-list .bar-link-wrapper .bar-link {
  text-decoration: none;
  color: initial;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.1);
  margin-inline-end: 10px;
  max-width: 20rem;
  border-radius: 8px;
  user-select: none;
  white-space: nowrap;
}
main .contents-title-wrapper .bar-link-list .bar-link-wrapper .bar-link:hover {
  background: rgba(0, 0, 0, 0.2);
}
main .container {
  width: 100%;
  padding: 0 16px;
  padding-block-start: 70px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
main .container .content-wrapper {
  display: flex;
  justify-content: initial;
}
main .container .contents {
  width: 100%;
  justify-content: inherit;
  flex: 1;
  display: flex;
  max-width: calc(var(--video-items-count) * (var(--content-item-max-width) + var(--content-item-margin)) - var(--content-item-margin));
}
main .container .contents .video-container {
  padding: calc(var(--content-item-margin) / 2);
  max-width: var(--content-item-max-width);
  width: calc(100% / var(--video-items-count) - var(--content-item-margin) - 0.01px);
  margin-bottom: 40px;
}
main .container .contents .video-container .video-wrapper {
  cursor: pointer;
}
main .container .contents .video-container .video-information {
  display: flex;
  cursor: pointer;
}
main .container .contents .video-container .video-information .video-icon {
  padding-top: 5px;
  padding-right: 10px;
}
main .container .contents .video-container .video-information .video-icon img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  max-width: 100%;
}
main .container .contents .video-container .video-information .video-description {
  flex: 1;
  margin-top: 5px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}
main .container .contents .video-container .video-information .video-description .video-title {
  font-size: 1rem;
  line-height: 1.4rem;
  max-height: 3.5rem;
  min-height: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
}
main .container .contents .video-container .video-information .video-description .channel-name {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 3px;
  position: relative;
  cursor: pointer;
}
main .container .contents .video-container .video-information .video-description .channel-name:hover {
  color: #838181;
}
main .container .contents .video-container .video-information .video-description .watch-count-and-time {
  font-size: 0.9rem;
  font-weight: 400;
}
main .container .contents .video-container .video-information .video-description .verified {
  width: 14px;
  height: 14px;
}
main .container .contents img {
  width: 100%;
  border-radius: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(260px);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(260px);
  }
  to {
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 800;
  display: none;
  transition: 0.2s ease-in-out all;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
