.container {
  max-width: 1200px !important;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.2);
}

body {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

#go-up-button {
  display: none;
  backface-visibility: hidden;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-bottom-width: 2px;
  bottom: 20px;
  cursor: pointer;
  height: 42px;
  line-height: 40px;
  margin: 5px;
  position: fixed;
  right: 20px;
  width: 110px;
  will-change: scroll-position;
  z-index: 1000;
  opacity: 1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
#go-up-button:hover {
  border-color: #f27a1a;
}
#go-up-button:hover .icon-scroll {
  animation: animateScroll 0.3s ease-in-out forwards;
}
#go-up-button:hover span {
  color: #f27a1a;
}
#go-up-button .icon-scroll {
  display: block;
  float: left;
  height: 12px;
  margin: 14px 0 0 15px;
  opacity: 0.8;
  overflow: hidden;
  width: 12px;
  background-image: url(assets/scroll-up-.svg);
}
#go-up-button span {
  color: #666666;
  float: left;
  font-size: 13px;
  font-weight: 600;
  margin-left: 7px;
  text-align: center;
  transition: color 0.3s ease-in forwards;
}

header {
  z-index: 10000;
  background: white;
}
header .category-links {
  font-weight: 600;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: end;
}
header .category-links .nav-link-wrapper {
  border-bottom: 2px solid transparent;
}
header .category-links .nav-link-wrapper:hover {
  color: #f27a1a;
  border-color: #f27a1a;
}
header .category-links .nav-link-wrapper .animate-subnav {
  animation: 0.15s fadeIn ease-in forwards;
}
header .category-links .nav-link-wrapper .enable {
  display: block !important;
}
header .category-links .nav-link-wrapper .subnav {
  display: none;
  overflow: hidden;
  background: #fff;
  position: absolute;
  left: 0;
  top: 32.7px;
  font-size: 0.7rem;
  height: 520px;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 0 1px 1px #ebebeb;
  z-index: 100;
}
header .category-links .nav-link-wrapper .subnav .navbar {
  flex: 1;
}
header .category-links .nav-link-wrapper .subnav .navbar li {
  width: 100%;
}
header .category-links .nav-link-wrapper .subnav a {
  transition: all 0.3s ease-in;
  padding: 0.2em 0.5em;
}
header .category-links .nav-link-wrapper .subnav a:hover {
  text-decoration: underline;
  outline-color: #f27a1a;
  color: #f27a1a;
}
header .category-links .nav-link-wrapper .nav-link {
  transition: none;
  padding: 5px 18px;
}
header .fixed-top {
  animation: stickyTransitionShow 0.2s forwards linear;
  border-bottom: 1px solid #D9D9D9;
}
header nav {
  background: #fff;
}
header #nav-anchors {
  position: relative;
}
header #nav-anchors .anchor-wrapper:hover .hidden-til-hover {
  display: flex !important;
}
header #nav-anchors .anchor-wrapper:hover .login {
  color: #f27a1a;
}
header #nav-anchors .hidden-til-hover {
  z-index: 100;
  display: none !important;
  position: absolute;
  text-align: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #D9D9D9;
  background: #fff;
  font-weight: 600;
  border-radius: 8px;
  font-size: 0.8rem;
  width: 177px;
  left: -60px;
  top: 47px;
}
header #nav-anchors .hidden-til-hover::after {
  content: "";
  position: absolute;
  border-style: solid;
  top: -20px;
  left: 50%;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
}
header #nav-anchors .hidden-til-hover::before {
  content: "";
  position: absolute;
  border-style: solid;
  top: -24px;
  left: 49%;
  border-width: 12px;
  border-color: transparent transparent #D9D9D9 transparent;
}
header #nav-anchors .hidden-til-hover li {
  width: 100%;
}
header #nav-anchors .hidden-til-hover li a {
  width: 100%;
  border-radius: 8px;
}
header #nav-anchors a:hover {
  color: #f27a1a;
}
header #nav-anchors span {
  font-size: 0.8rem;
  font-weight: 600;
}
header .header-link {
  color: #999;
  font-size: 0.7rem;
  font-weight: 500;
}
header .header-link .nav-link:hover {
  color: #444;
}
header form #search {
  border: 2px solid rgba(0, 0, 0, 0);
  outline: 0;
  background: #f3f3f3;
  padding: 0.6rem 0.9rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 6px;
  width: 30vw;
  transition: all ease 0.3s;
}
header form #search:focus {
  outline: 0;
  background: #fff;
  border-color: #f27a1a;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
header form i {
  color: #f27a1a;
}
header form .suggestion-container {
  position: relative;
  display: none;
  border: 2px solid #f27a1a;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 950;
  padding: 10px 20px 15px 20px;
  background-color: #fff;
  top: 40px;
  font-size: 0.8rem;
}
header form .suggestion-container .right-button {
  right: 5px;
}
header form .suggestion-container .right-button::before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  width: 55px;
  height: 130px;
  left: -41px;
  position: absolute;
  transform: translateZ(-1px);
}
header form .suggestion-container .left-button {
  left: 5px;
}
header form .suggestion-container .left-button::after {
  left: 10px;
  content: "";
  display: block;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  width: 55px;
  height: 130px;
  left: 10px;
  position: absolute;
  transform: translateZ(-1px);
}
header form .suggestion-container .right-button,
header form .suggestion-container .left-button {
  z-index: 10000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  border: none;
  box-shadow: 0px 1.2px 6px 0px rgba(51, 51, 51, 0.3);
  z-index: 200;
  top: 70%;
  height: 24px !important;
  width: 24px !important;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
}
header form .suggestion-container .right-button:hover,
header form .suggestion-container .left-button:hover {
  background: #f27a1a;
}
header form .suggestion-container .right-button:hover i,
header form .suggestion-container .left-button:hover i {
  color: white !important;
}
header form .suggestion-container .right-button i,
header form .suggestion-container .left-button i {
  font-size: 0.7rem;
  color: #666 !important;
}
header form .suggestion-container .slider-list {
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
header form .suggestion-container .slider-list::-webkit-scrollbar {
  display: none;
}
header form .suggestion-container .slider-list .suggestion-product {
  user-select: none;
  flex-direction: row;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  width: 242px;
  min-width: 242px;
  height: 130px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  text-decoration: none;
  color: #444;
  margin-right: 10px;
}
header form .suggestion-container .slider-list .suggestion-product:hover {
  color: #f27a1a !important;
  border-color: #f27a1a;
}
header form .suggestion-container .slider-list .suggestion-product:hover span {
  color: #f27a1a !important;
}
header form .suggestion-container .slider-list .suggestion-product:hover span strong {
  color: #f27a1a;
}
header form .suggestion-container .slider-list .img-wrapper {
  height: 120px;
  padding-bottom: 5px;
  position: relative;
}
header form .suggestion-container .slider-list .img-wrapper img {
  height: 120px;
  width: 80px;
  overflow: clip;
  border-radius: 4px;
}
header form .suggestion-container .slider-list .img-wrapper .footer {
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  height: 16px;
  width: 80px;
  bottom: 0px;
  border-radius: 0px 0px 3px 3px;
}
header form .suggestion-container .slider-list .img-wrapper .footer.buy-much-pay-less {
  background-color: #f27a1a;
}
header form .suggestion-container .slider-list .img-wrapper .footer.free-cargo {
  background-color: #666;
}
header form .suggestion-container .slider-list .img-wrapper .footer.chance {
  background-color: #ff4988;
}
header form .suggestion-container .slider-list .description .product-info {
  line-clamp: 2;
  color: #666;
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  min-height: 54px;
  max-height: 54px;
}
header form .suggestion-container .slider-list .description .product-info strong {
  color: #333;
  line-height: 18px;
  font-size: 14px;
  margin-right: 5px;
  font-weight: 600;
}
header form .suggestion-container .slider-list .description .product-price {
  margin-top: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #f27a1a;
}
header form .suggestion-container .slider-list .description .less-price {
  margin-top: 8px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #b00;
}
header form .suggestion-container .suggestion-title {
  color: #f27a1a;
  font-weight: 500;
}
header form .suggestion-container .suggestion-title a {
  color: #f27a1a !important;
}
header form .suggestion-container .suggestion-list {
  flex-wrap: wrap;
}
header form .suggestion-container .suggestion-list .suggestion {
  display: inline-block;
  vertical-align: middle;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  padding: 7px 13px 7px 13px;
  cursor: pointer;
  margin: 0 10px 10px 0;
  color: black;
  text-decoration: none;
  font-size: 0.68rem;
  text-wrap: nowrap;
}
header form .suggestion-container .suggestion-list .suggestion:hover {
  outline: none;
}
header form .suggestion-container .suggestion-list .suggestion:hover.hype {
  border: 1px solid #fcd8bb;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
header form .suggestion-container .suggestion-list .suggestion:hover:not(.hype) {
  border-color: #f27a1a;
  color: #f27a1a;
}
header form .suggestion-container .suggestion-list .suggestion.hype {
  border: 1px solid #fef4eb;
  background-color: #fef4eb;
}
header form .suggestion-container .suggestion-list .suggestion img {
  height: 13px;
  color: #999;
  margin-bottom: 4px;
  margin-right: 2px;
  vertical-align: middle;
}

main .description {
  font-size: 0.8rem;
}
main .product-list {
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 10px;
}
main .product-list .product-link a {
  color: #444;
  transition: color 0.3s ease, border-color 0.3s ease;
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  font-size: 14px;
  display: block;
  text-decoration: none;
}
main .product-list .product-link a:hover {
  color: #F27A1A;
  border-color: #F27A1A;
}
main article {
  position: relative;
  z-index: 1;
}
main article .widget {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  background: #fffaf6;
  border: 1px solid #f2e5da;
  padding: 20px;
}
main article .widget .left-button, main article .widget .right-button {
  width: 42px;
  height: 42px;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin-top: -21px;
}
main article .widget .left-button:hover i, main article .widget .right-button:hover i {
  background: #f27a1a;
  color: white;
  box-shadow: 0;
}
main article .widget .left-button i, main article .widget .right-button i {
  width: 42px;
  height: 42px;
  border-radius: 25px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -21px;
  cursor: pointer;
  transition: all 400ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main article .widget .widget-body {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
main article .widget .widget-body::-webkit-scrollbar {
  display: none;
}
main article .widget .card-img-top {
  height: 94% !important;
  max-height: 200px !important;
  margin: 15px auto 5px auto !important;
  border: none !important;
  width: auto !important;
}
main article .widget .card {
  user-select: none;
  cursor: pointer;
  width: 224px !important;
  min-width: 224px;
  height: 375px;
  margin: 1px 15px 1px 1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e6e6e6;
  background: #fff;
  font-size: 0.8rem;
}
main article .widget .card .card-body {
  min-height: 134px !important;
}
main article .widget .card .card-body .product-description {
  min-height: 80px;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
}
main article .widget .card .inner {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin-left: 5px;
  margin-top: 5px !important;
  border-radius: 4px;
  font-size: 10px !important;
  width: 72px !important;
  height: 24px !important;
  box-sizing: border-box;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
main article .widget .card .inner span {
  font-size: 10px;
  line-height: 9px;
  text-align: initial;
  width: 48px;
}
main article .widget .card .inner i {
  font-size: 12px;
  margin: 4px;
}
main article .widget .card .most-sold {
  top: 35px;
  z-index: 10;
  left: 10px;
}
main article .widget .card .most-sold img {
  width: 53px !important;
  height: 53px !important;
  border: none;
}
main article .widget .card .favourite-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
main article .widget .card .favourite-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #f0f0f0;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 100%;
  font-size: 14px;
}
main article .widget .card .low-price {
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 25px;
  color: rgb(182, 5, 5);
}
main article .widget .card .campaign {
  margin-top: 5px;
  background: #fff6ee;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 600;
}
main article .widget .card .campaign i {
  margin-top: 3px;
  color: #f27a1a;
  font-size: 16px;
}
main article .widget .card .campaign i.fa-tag {
  transform: rotate(90deg);
}
main article .widget .card .campaign.cupon {
  background-color: #fff0f5;
}
main article .widget .card .campaign.cupon i {
  color: purple;
  margin: 0;
}
main article .widget .card .product-description {
  font-weight: 500;
}
main article .widget .card .product-price-discount {
  color: rgb(182, 5, 5);
  font-size: 1rem;
  font-weight: 600;
}
main article .widget .card .product-price {
  color: #f27a1a;
  font-size: 1rem;
  font-weight: 600;
}
main article .card {
  z-index: 1;
  position: relative;
  width: 33% !important;
  padding: 0 10px;
  border: 0;
  overflow: hidden;
}
main article .card:hover a {
  color: white;
}
main article .card:hover .card-footer {
  background: #f27a1a;
}
main article .card:hover img {
  transform: scale(1.02);
}
main article .card:hover .image-container {
  border-radius: 6px 6px 0 0;
}
main article .card a {
  text-decoration: none;
  color: black;
  transition: 0.1s ease;
}
main article .card .card-footer {
  background: black;
  border-radius: 0 0 6px 6px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1.3rem;
  transition: 0.1s ease;
}
main article .card span {
  transition: 0.1s ease;
}
main article .card img {
  border-radius: 6px 6px 0 0;
  transition: transform 1s ease;
}
main article .card .image-container {
  transition: 0.1s ease;
  overflow: hidden;
  border: none;
}
main .right-button,
main .left-button {
  width: 50px;
  cursor: pointer;
  opacity: 0.4;
  height: 50px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(40% - 20px);
  transition: 0.5s ease-in-out;
}
main .right-button:hover,
main .left-button:hover {
  opacity: 1;
}
main .right-button {
  right: -35px;
  text-align: end;
}
main .left-button {
  left: -35px;
  display: none;
}
main .slider-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
main .slider-list::-webkit-scrollbar {
  display: none;
}
main .slider-list .slider-item {
  text-decoration: none;
  color: initial;
  font-weight: 600;
  font-size: 0.8rem;
  width: 115px;
  min-width: 115px;
  margin-left: -10px;
  display: inline-block;
}
main .slider-list .slider-item span {
  text-align: center;
  display: block;
  margin-top: 10px;
}
main .slider-list .slider-item:hover {
  color: #f27a1a;
}
main .slider-list .slider-item:hover img {
  border-color: #f27a1a;
}
main .slider-list img {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  width: 68px !important;
  height: 68px;
  margin: 0 auto;
  transition: all ease 1s;
}

.popular-page-links .popular-brand {
  width: 45%;
}
.popular-page-links .popular-brand .navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-page-links .popular-brand .navbar .nav-item {
  flex: 0 26%;
  margin: 3px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}
.popular-page-links .popular-brand .navbar .nav-item .nav-link:hover {
  text-decoration: underline;
}

footer {
  background: black;
  padding: 50px 0;
  color: white !important;
  font-size: 0.8rem;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-link-list li {
  margin-top: 17px;
}
footer .footer-apps .apps-wrapper a {
  width: 155px;
  height: 40px;
  display: list-item;
  margin-top: 10px;
  text-indent: -2000px;
}
footer .footer-apps .apps-wrapper .app-store {
  background: url(assets/app-store-logo.svg) no-repeat 0 0;
}
footer .footer-apps .apps-wrapper .google-play {
  background: url(assets/google-play.svg) no-repeat 0 0;
}
footer .footer-apps .apps-wrapper .app-gallery {
  background: url(assets/app-gallery.svg) no-repeat 0 0;
}
footer .social-wrapper .icon-wrapper {
  height: 29px;
  text-decoration: none;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  background: white;
  margin-right: 6px;
  font-size: 1rem;
}
footer .social-wrapper .icon-wrapper:hover {
  text-decoration: none;
}
footer .social-wrapper .icon-wrapper:hover.facebook {
  background: rgb(55, 55, 192);
}
footer .social-wrapper .icon-wrapper:hover.instagram {
  background: rgb(191, 59, 59);
}
footer .social-wrapper .icon-wrapper:hover.twitter {
  background: rgb(112, 112, 228);
}
footer .social-wrapper .icon-wrapper:hover.youtube {
  background: rgb(248, 43, 43);
}
footer .tr-go {
  background: url(assets/trgo.webp);
  background-size: 50px;
  height: 50px;
  display: flex;
  width: 50px;
}
footer .qr-code img {
  width: 83px;
  height: 93px;
  margin-right: 30px;
  padding: 5px;
  background-color: #fff;
  display: inline-block;
}
footer .troy-img {
  background: url(assets/troy-logo.webp) no-repeat;
  display: inline-block;
  width: 56px;
  height: 26px;
  margin-right: 13px;
  background-size: cover;
}
footer .mastercard-img {
  background: url(assets/mastercard-logo.webp) no-repeat center left;
  width: 62px;
  height: 35px;
  display: inline-block;
  position: relative;
  top: -5px;
  background-size: contain;
}
footer .visa-img {
  background: url(assets/visa-logo.webp) no-repeat center left;
  width: 75px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: -3px;
  margin-left: -14px;
}
footer .american-express-img {
  background: url(assets/american-express.webp) no-repeat center left;
  width: 60px;
  height: 25px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: -2px;
  margin-left: 4px;
}

.licance {
  background: #2d2d2d;
  color: white;
  font-size: 0.73rem;
  padding: 10px;
}

::-webkit-search-cancel-button {
  display: none;
}

@keyframes stickyTransitionShow {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    height: 0;
  }
  100% {
    height: 520px;
  }
}
@keyframes animateScroll {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -17px;
  }
}

/*# sourceMappingURL=style.css.map */
